<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_map"
        android:label="Map Tools"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MapYuzi"
        tools:targetApi="31">
        <activity
            android:name=".activities.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> />
        </activity>

        <activity
            android:name=".activities.step.StepActivity"
            android:exported="false" />
        <activity
            android:name=".activities.saved.MapDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".activities.saved.SavedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.area.AreaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.distance.DistanceActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDnv-5qJljahx-eKsOPjfgiMsIh0mll8NE" />

        <activity
            android:name=".activities.main.MainActivity"/>

    </application>

</manifest>